.adsContainer {
  display: flex;
  justify-content: space-between;
  .adsCard {
    width: 640px;
    height: 360px;
    background-color: #54A6FF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    .content {
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 1;
      width: 280px;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-weight: 600;
        // margin-bottom: 16px;
      }
      .btnRentCar {
        text-decoration: none;
        width: max-content;
        padding: 15px 20px;
        color: #FFFFFF;
        font-weight: 600;
        background-color: #3563E9;
        border-radius: 4px;
      }
    }
    .imgBg {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:last-child {
      background-color: #3563E9;
      .content {
        .btnRentCar {
          background-color: #54A6FF;
        }
      }
    }
  }
}

@media (max-width:480px) {
  .adsContainer {
    flex-direction: column;
    gap: 30px;
    .adsCard {
      width: 327px;
      height: 220px;
      .content {
        width: 250px;
        top: 15px;
        left: 15px;
        h1 {
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }
      .imgBg {
        height: 100%;
      }
    }
  }
}