.footer {
  .container {
    .topContent {
      display: flex;
      justify-content: space-between;
      .leftContent {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .logo {
          color: #3563E9;
          text-decoration: none;
          font-size: 32px;
          font-weight: 700;
        }
        p {
          color: rgba(19, 19, 19, 0.60);
        }
      }
      .rightContent {
        display: flex;
        gap: 60px;
        padding-right: 50px;
        div {
          display: flex;
          flex-direction: column;
          gap: 24px;
          ul {
            list-style: none;
            li {
              a {
                text-decoration: none;
                color: rgba(19, 19, 19, 0.60);
              }
              &:not(:last-child) {
                margin-bottom: 20px;
            }
            }
          }
        }
      }
    }
    .footerContent {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 1px solid rgba(19, 19, 19, 0.16);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftContent {
        color: #1A202C;
        font-weight: 600;
      }
      .rightContent {
        display: flex;
        gap: 60px;
        a {
          color: #1A202C;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width:480px) {
  .footer {
    .container {
      .topContent {
        flex-direction: column;
        gap: 40px;
        .rightContent {
          flex-direction: column;
        }
      }
      .footerContent {
        flex-direction: column-reverse;
        align-items: start;
        gap: 32px;
      }
    }
  }
}