.popularCars, .recomenCars {
  display: grid;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  .carCard {
    width: 304px;
    height: 388px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .titleCard {
      display: flex;
      justify-content: space-between;
      .content {
        p {
          color: #90A3BF;
          font-size: 14px;
          font-weight: 700;
        }
      }
      .btnHeart {
        cursor: pointer;
      }
    }
    .imgCard {
      margin: 0 auto;
      width: 250px;
    }
    .detailCard {
      display: flex;
      align-items: center;
      justify-content: space-around;
      p {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #90A3BF;
      }
    }
    .priceCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        color: #1A202C;
        font-size: 20px;
        font-weight: 700;
        span {
          color: #90A3BF;
          font-size: 14px;
        }
      }
      .btnRentNow {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        background-color: #3563E9;
        border: 0;
        border-radius: 4px;
        width: 116px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width:480px) {
  .popularCars, .recomenCars {
    grid-template-columns: 1fr;
  }
}