.homePage {
  background-color: #F6F7F9;
  .container {
    .popularCarRent {
      margin-top: 40px;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #90A3BF;
        font-weight: 600;
        margin-bottom: 30px;
        a {
          text-decoration: none;
          color: #3563E9;
          font-weight: 600;
        }
      }
    }
    .recomenCarRent {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      .title {
        color: #90A3BF;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .btnMoreCar {
        margin: 60px auto;
        color: #FFFFFF;
        background-color: #3563E9;
        border-radius: 4px;
        border: 0;
        width: 156px;
        height: 44px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}